@import "tailwindcss";

body {
    background-color:rgb(90, 228, 167); /* Fallback color */
    background-image: url('bg_2.jpg'), linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-size: 700px 100vh;    
    background-repeat: no-repeat;
    background-position:left-center;
    margin: 220px ;
}
